services:
  banking-service:
    image: wallacen/banking-service:v1
    container_name: banking-service-container
    environment:
      - QUARKUS_CLIENT_HTTP=host.docker.internal
      - QUARKUS_CLIENT_HTTP_PORT=8181
      - QUARKUS_DATASOURCE_USERNAME=postgres
      - QUARKUS_DATASOURCE_PASSWORD=Administrator
      - QUARKUS_DATASOURCE_HOST=postgres-db-alura-banking-service
      - QUARKUS_DATASOURCE_PORT=5432
    ports:
      - 8080:8080
    depends_on:
      - postgres-db-alura-banking-service

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-banking
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana-compose
    ports:
      - "6000:3000"
    depends_on:
      - prometheus

  postgres-db-alura-banking-service:
    image: postgres:16
    container_name: postgres-db-alura-banking-service-container
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Administrator
      - POSTGRES_DB=agencia
       # HOST:CONTAINER → por fora você acessa localhost:5500, por dentro (Docker) é SEMPRE 5432
    ports:
      - 5500:5432
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
    driver: local


#Explicação dos parâmetros:

#image: Define a versão da imagem PostgreSQL que será utilizada (postgres:14).
#container_name: Nome do container para fácil identificação.
#environment: Configura o usuário (escolha o de sua preferência), a senha (escolha a de sua preferência) e o banco de dados (agencia) que será criado automaticamente.
#ports: Mapeia a porta padrão do PostgreSQL (5432) para a 5433 na sua máquina. (É necessário ser 5433 pois a 5432 já está sendo utilizada pela API).
#volumes: Mapeia o arquivo init.sql, que contém o script SQL de criação de tabelas, para ser executado automaticamente na inicialização.